/*----------------------
GLOBAL STYLES
----------------------*/

html {
	box-sizing: border-box;
}

/* All the text on the web page will be Roboto. sans-serif is a fallback in case user has no Roboto font installed on their device.*/
body {
	font-family: Roboto, sans-serif;
	color: #4b596c;
	margin: 0;
	padding: 0;
}

/* Only headings will have Roboto Slab font. For font names with 2 words or more, we use " ". */
h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Slab", sans-serif;
	color: #fff;
	font-weight: 400;
}

/*Responsive images*/
img {
	max-width: 100%;
	height: auto;
}

/*Here we center our page and control its width*/
.page-wrapper {
	margin: 0 auto;
	max-width: 100%;
	
}

/*Because most sections have same content width, we create a class that we add to sections insead of declaring width for each individually*/
.container {
	margin: 0 auto;
	max-width: 1024px;
	
}


/*----------------------
HEADER
----------------------*/

header {
	background-color: #455469;
	background: linear-gradient(rgba(69, 84, 105, 0.75), rgba(34, 34, 34, 0.75)), url(img/header-bg.jpg);
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 240px;
	color: #c9ced7;

}

.header-top {
	display: flex;
	justify-content: space-around;
}

.logo-title {
	max-width: 30%;
}

.login {
	display: flex;
	line-height: 30px;
}

.login-text {
	margin-right: 15px;
	font-size: 18px;
	font-style: italic;
}

.login-button {
	text-transform: uppercase;
	color: #c9ced7;
	background-color: #3d4b60;
	border: 0;
	border-radius: 5px;
	padding: 8px 16px;
	cursor: pointer;
	outline: none;
}

.login-button:hover {
	background-color: #061d3f;
}

.header-main {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
}

.header-content {
	max-width: 60%;
}

.header-content h1 {
	font-size: 44px;
	margin: 0;
}

.header-content p {
	font-size: 26px;
}

.cta-button {
	margin-top: 30px;
	font-size: 32px;
	color: #c9ced7;
	background-color: #67bf95;
	border: 0;
	border-radius: 10px;
	padding: 16px 40px;
	cursor: pointer;
	outline: none;
}

.cta-button:hover {
	background-color: #57b287;
}

.header-img {
	max-width: 30%;
}


/*----------------------
PRODUCT SECTION
----------------------*/
.product-desciption {
	padding-top: 80px;
	padding-bottom: 80px;
	display: flex;
	justify-content: space-around;
	background-color: white;
}

.product-img {
	max-width: 20%;
}

.product-text {
	max-width: 50%;
}
.product-text h2 {
	color: #4b596c;
	font-size: 24px;
}

.product-text p {
	line-height: 36px;
}

.product-social-icons {
	max-width: 20%;
}

.product-social-icons a {
	color: #52ad81;
	font-size: 24px;
	display: block;
	width: 52px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	margin: 48px 0;
	border-radius: 10em;
	border: 1px solid #52ad81;
}

.product-social-icons a:first-child {
	margin-top: 28px;
}

.product-social-icons a:hover {
	color: #fff;
	background-color: #52ad81
}


/*----------------------
SLIDER
----------------------*/

.slider {
	background-color: #52ad81;
	padding-top: 80px;
	color: #fff;
}

.slider-header {
	max-width: 800px;
	margin: 0 auto;
}

.slider h2 {
	font-family: Roboto, sans-serif;
	font-size: 48px;
	font-weight: 600;
	margin: 0;
	display: inline-block;
}

.slider p {
	font-weight: 100;
	font-size: 28px;
	margin: 16px 0 80px ;
}

.slider-image {
	position: relative;
}

.slider-image img {
	margin-bottom: -3px;
}

.slider-control {
	position: absolute;
	top: -13px;
	color: #fff;
	font-size: 24px;
	display: block;
	width: 52px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	margin: 48px 0;
	border-radius: 10em;
	border: 1px solid #fff;
}

.slider-control:hover {
	background-color: #5dba8d;
}

.slider-control-l {
	left: -88px;
}

.slider-control-r {
	right: -88px;
}

.fa-chevron-left {
	margin-right: 3px;
}

.fa-chevron-right {
	margin-left: 3px;
}


/*----------------------
SPACER
----------------------*/
.spacer {
	background-color:#EAEAED;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -1px;
	font-size: 50px;
	color: #4b596c;
	font-family: Roboto, sans-serif;
	
}

/*----------------------
PRODUCT PRICING
----------------------*/
 .pricing {
	background-color: #F6F6F8;
	height: 50px;

 }


/*----------------------
PRODUCT VIDEO
----------------------*/
.product-video{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1042px;
  background: 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
		url(img/wheel.png);
		background-size: cover;
		background-repeat: no-repeat;
}

.fa-play-circle-o{
	font-size: 150px;
	color: white;
	opacity: 0.5;
}

.fa-play-circle-o:hover{
color: white;
opacity: 0.8;
}

.contact{
	background-color: #2D3136;
	color: white;
	height: 1000px;
	
}


/*----------------------
CONTACT
----------------------*/
.contact {
	display: flex;
	justify-content: center;
}
.mail-icon {
	height: 150px;
	width: 150px;
	margin-top: 5%;
	border: 20px solid #383939;
	border-radius: 50%;
	
}


/*----------------------
FOOTER
----------------------*/
.footer-icon{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #2A2D33;
	height: 80px;
	width: 60%;
	margin: 0 auto;
}

.footer-logo{
	/* height: 30px;
	width: 40px; */
}

.footer-social-icon{
	display: flex;
	justify-content: center;
	align-items: center;

	color: #656566;
	font-size: 24px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 1px solid #656566;
	/* margin: auto 10px; */
}

.footer-social-icon:hover{
	background-color: gray;
}

.footer-icon-color{
	color: #656566;
}

.flatmate-footer-logo {
	display: flex;
	align-items: center;
	height: 30px;
	width: 60%;
}

footer a{
	text-decoration: none;
	color: white;
}

footer img{
	height: 30px;
	width: 40px;
}

.design-by{

	color: #656566;
}
.footer-wrap {
	width: 100%;
	background-color: #2a2d33;
}

footer {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #2a2d33;
}

